p {
    font-family: sans-serif;
}

h1,
h2,
h4 {
    font-family: quitemagical;
}

.darkblue {
    color: #a2a7ba;
}

@font-face {
    font-family: 'quitemagical';
    src: url('fonts/quitemagical.ttf') format('truetype');
}

#spoder {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0.45);
    border-radius: 30px;
}

.info {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    top: 0.1;
}

#video {
    margin: 90px auto 0;
    display: flex;
    flex-direction: row;
    margin: auto;
    top: 0.1;
    left: 0;
    right: 0;
    bottom: 0;
}

.demo-card-wide.mdl-card {
    width: 640px;
    height: 350px;

}

.mdl-card__actions {

    outline: skyblue solid 5px;
    z-index: 4;


}

#name {
    display: flex;
    margin-top: 10px;
    justify-content: left;
}

#contact {
    display: flex;

}


.mdl-button {
    /* outline: red solid 5px;  */
    margin-left: 10px;

}

.demo-card-wide {
    height: 250px;
}


.demo-card-wide>.mdl-card__title {
    color: #fff;
    height: 64px;
    background-color: indigo;
}

.mdl-card__title-text {
    position: relative;
    top: 6px;

}

.demo-card-wide>.mdl-card__menu {
    color: #fff;
}


#mycard {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 450px;
    width: 600px;
    display: flex;
    flex-direction: row;
    /* outline: red solid 10px; */
    justify-content: center;
    align-items: center;
}

.mdl-textfield {
    width: 250px;
    margin-right: 10px;
}

/* PAGE2 */
* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 460px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}